table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-elevation-z8{
    overflow-x: auto;
  }

mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell, .mat-header-cell {
  padding: 0.75rem !important;
}